.main.index {
  @include flex(center);

  margin-bottom: 70px;

  .container {
    @include flex(flex-start);

    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    padding: 42px;
    padding-top: 10px;

    @media screen and (max-width: $mq-mobile) {
      padding: 10px;
    }
  }

  // 共用 ====================================
  .title {
    font-size: $font-size-title;
    font-weight: bold;
  }

  // 上層 ====================================
  .header {
    @include flex(space-between, center);

    background: $color-bg-gray;

    @media screen and (max-width: $mq-pad) {
      flex-flow: wrap;
    }

    @media screen and (max-width: $mq-mobile) {
    }

    h2 {
      font-size: $font-size-title;
      font-weight: bold;
    }

    .dateInfo {
      @media screen and (max-width: $mq-mobile) {
        // text-align: right;
        @include flex(flex-start, center);

        width: 100%;
        margin-top: 8px;
      }

      .daterange {
        width: 74px;
        text-align: right;
        font-size: 16px;

        @media screen and (max-width: $mq-mobile) {
          margin-left: auto;
        }
      }
    }
  }

  .tileCounts {
    @include flex(space-between, center);

    width: 100%;
    margin-bottom: 1.5rem;

    flex-wrap: wrap;

    .tileCount {
      @include flex(center);

      flex-direction: column;
      width: calc((100% - 40px) / 3);
      height: 138px;
      background: $color-white;

      @media screen and (max-width: $mq-pad) {
      }

      @media screen and (max-width: $mq-mobile) {
        width: 100%;
        margin-top: 8px;
      }

      .subtitle2 {
        margin-bottom: 1rem;
        font-size: $font-size-placeholder;
        font-weight: bold;
      }

      .number {
        font-size: 36px;
        font-weight: bold;
      }
    }
  }

  // 中間 ====================================
  .graph {
    width: 100%;
    height: 406px;
    margin-bottom: 1.8rem;
    padding: 30px;
    background: $color-white;
  }

  // 下層 ====================================
  .otherInfo {
    @include flex(space-between, flex-start);

    width: 100%;

    flex-wrap: wrap;
  }

  .websiteList,.orderList {
    width: calc((100% - 20px) / 2);
    height: 456px;
    padding: 30px 40px;
    background: $color-white;

    @media screen and (max-width: $mq-pad) {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }

    @media screen and (max-width: $mq-mobile) {
    }
  }

  .rankingInfo {
    // margin-top: 30px;

    .rankingItem {
      @include flex(flex-start, center);

      padding: 24px 0;

      @media screen and (max-width: $mq-pad) {
      }

      @media screen and (max-width: $mq-mobile) {
        flex-wrap: wrap;

         > span {
          width: 50%;

          &:nth-child(even) {
            text-align: right;
          }
        }
      }

      .icon {
        width: 45px;
        font-size: 45px;

        @media screen and (max-width: $mq-mobile) {
          width: 50%;
        }
      }

      .name {
        margin-left: 1rem;
        color: $color-gray-dark;
        font-weight: bold;

        @media screen and (max-width: $mq-mobile) {
          margin-left: 0;
        }
      }
      .price {
        margin-left: auto;
        font-size: 20px;
        font-weight: bold;

        @media screen and (max-width: $mq-pad) {
        }

        @media screen and (max-width: $mq-mobile) {
          margin-left: 0;
        }
      }

      .up {
        color: $color-green;
      }
      .down {
        color: $color-red;
      }

      .ranking {
        position: relative;
        margin-left: 1.5rem;
        font-size: 1rem;

        @media screen and (max-width: $mq-mobile) {
          margin-left: 0;
        }

        .tip {
          @include flex(center);

          position: absolute;
          z-index: 1;
          top: -88px;
          left: 50%;
          visibility: hidden;
          flex-direction: column;
          min-width: 200px;
          height: 80px;
          padding: 10px;
          transition: .5s;
          transform: translateX(-50%);
          opacity: 0;
          color: #ffffff;
          border-radius: 3px;
          background-color: #000000;
          font-weight: normal;

          span {
            font-size: 14px;
          }

          .num {
            font-size: 20px;
            font-weight: bold;
          }
          small {
            margin-top: 8px;
            color: #9b9b9b;
            font-size: 14px;
          }

          &::before {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 50%;
            width: 0;
            height: 0;
            transform: translateX(-50%);
            border-width: 10px 10px 0 10px;
            border-style: solid;
            border-color: #000000 transparent transparent transparent;
          }
        }

        &:hover .tip {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .rankingItem + .rankingItem {
      // padding-top: 8px;
      border-top: 1px solid $color-gray-dark;
    }
  }

  .orderInfo {
    margin-top: 30px;

    .orderItem {
      @include flex(flex-start);

      @media screen and (max-width: $mq-pad) {
      }

      @media screen and (max-width: $mq-mobile) {
        flex-wrap: wrap;
      }

      .imgBox {
        width: 140px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
      }
    }

    .orderItem + .orderItem {
      padding-top: 8px;
      border-top: 1px solid $color-gray-dark;
    }

    .orderContent {
      width: 100%;
      padding: 10px;

      .subtitle2 {
        margin-bottom: 8px;
        font-size: $font-size-subtitle;
        font-weight: bold;
      }

      .row {
        @include flex(space-between);
        // margin-bottom: 8px;

        color: $color-gray-dark;

        i {
          width: 16px;
          text-align: center;
        }

        span {
          line-height: 28px;
        }
      }

      .total {
        color: $color-black;
        // font-weight: bold;
      }

      .totalCost {
        color: $color-black;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

// 客製el樣式
.daterange-dropdown-menu {
  .el-dropdown-menu__item:not(.is-disabled):hover {
    color: $color-white;
    background-color: $color-black;
  }
}
